* {
    background:      #131219;
    background-alt:  #131219;
    foreground:      #c4c3c5;
    selected:        #633E81;
    active:          #68688D;
    urgent:          #9196B2;
    border:          #ADAFC8;
    border-alt:      #906DA1;
}
