* {
    background:      #132a2e;
    background-alt:  #132a2e;
    foreground:      #c4c9ca;
    selected:        #4db0c3;
    active:          #418aaa;
    urgent:          #a19ba7;
    border:          #b0797a;
    border-alt:      #1f7aaa;
}
