* {
    background:      #12080c;
    background-alt:  #12080c;
    foreground:      #c3c1c2;
    selected:        #A2002A;
    active:          #886672;
    urgent:          #A39C9F;
    border:          #B3B1B2;
    border-alt:      #8E7C82;
}
