/***
 *    ┓ ┏┓ ┏┓┏┓┏┓┳┳┏┳┓
 *    ┃┃┃┃ ┃┃┃┓┃┃┃┃ ┃ 
 *    ┗┻┛┗┛┗┛┗┛┗┛┗┛ ┻ 
 *                    
 */

@import url("/home/luisp/.cache/wal/colors-waybar.css");

*{
 font-family: JetbrainsMono Nerd Font;
 font-style: italic;
 font-size: 20px;
}

window {
    color: @foreground; /* text */
    background-color: transparent; /* background */
} 

button {
    background-repeat: no-repeat;
    background-position: center;
    background-size: 20%;
    background-color: transparent;
    animation: gradient_f 20s ease-in infinite;
    transition: all 0.3s ease-in;
    box-shadow: 0 0 10px 2px transparent;
    border-radius: 36px;
    border: none;
    margin: 10px;
}


button:focus {
    box-shadow: none;
    outline-style: none;
    background-size : 20%;
}

button:hover {
    background-size: 50%;
    outline-style: none;
    box-shadow: 0 0 10px 3px rgba(0,0,0,.4);
    background-color: @color1; /* color1 */
    color: transparent;
    transition: all 0.3s cubic-bezier(.55, 0.0, .28, 1.682), box-shadow 0.5s ease-in;
}

#shutdown {
    background-image: image(url("./icons/power.png"));
    color: @foreground; /* foreground */
}
#shutdown:hover {
  background-image: image(url("./icons/power-hover.png"));
  color: @foreground; /* foreground */
}

#logout {
    background-image: image(url("./icons/logout.png"));
    color: @foreground; /* foreground */
}
#logout:hover {
  background-image: image(url("./icons/logout-hover.png"));
    color: @foreground; /* foreground */
}

#reboot {
    background-image: image(url("./icons/restart.png"));
    color: @foreground; /* foreground */
}
#reboot:hover {
  background-image: image(url("./icons/restart-hover.png"));
    color: @foreground; /* foreground */
}

#lock {
    background-image: image(url("./icons/lock.png"));
    color: @foreground; /* foreground */
}
#lock:hover {
  background-image: image(url("./icons/lock-hover.png"));
    color: @foreground; /* foreground */
}

#sleep {
    background-image: image(url("./icons/hibernate.png"));
    color: @foreground; /* foreground */
}
#sleep:hover {
  background-image: image(url("./icons/hibernate-hover.png"));
    color: @foreground; /* foreground */
}
