* {
    background:      #101227;
    background-alt:  #101227;
    foreground:      #c3c3c9;
    selected:        #7486B7;
    active:          #798FD7;
    urgent:          #9A99E1;
    border:          #A59CE2;
    border-alt:      #8F93DA;
}
